.fade-enter,
.fade1-enter,
.fade2-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}

.fade1-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.fade2-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}
